.table-view{
   -fx-background-color: transparent;
   -fx-border-color: #eaffff;
   -fx-border-insets: 0;
   -fx-border-width: 1;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.corner {
	-fx-background-color: #373737;
}

.table-column {
	-fx-alignment: CENTER_LEFT;
}

.table-view .column-header{
    -fx-border-style: solid;
    -fx-border-color: rgb(130, 130, 130);
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-insets: 0 1 1 0, 0 0 0 0;
    -fx-border-width: 0.083333em, 0.083333em;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-pref-height: 40px;
}

.table-view .column-header-background .label {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

.table-view .table-cell {
	-fx-text-fill: #373737;
	-fx-font-size: 18px;
	-fx-border-color: #ccd7c8;
	-fx-border-insets: 0;
	-fx-border-width: 1 0 1 0;
	-fx-padding: 0 0 0 5;
	-fx-alignment: CENTER_LEFT;
}

.table-row-cell {
	-fx-background-color: -fx-table-cell-border-color, #ccd7c8;
	-fx-background-insets: 0, 0 0 1 0;
	-fx-padding: 0.0em; /* 0 */
	-fx-pref-height: 60px;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #ffffff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #d9c575;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view .column-header-background .filler {
  -fx-background-color: #373737;
  -fx-padding: 1em;
}

.table-view .scroll-bar:horizontal .increment-arrow,
.table-view .scroll-bar:horizontal .decrement-arrow,
.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

/*
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}*/